#container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}
h3{
    color:#33B0AD;
}
.inner.container{
    width: max-content;
    height: 40em;
    min-height: 44em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    position: relative;
    z-index: 50;
}

.contents{
    width:max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    margin-top: 25px;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 17px 20px;
}



.Form{
    margin-top:2em;
    display: flex;
    flex-direction: column;
}

.btn1{
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    background-color: #33B0AD;
    color:#252B2B;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;

  }

.link{
    color:#33B0AD
}
.link:hover {
    color: #1F4F4E
  }

.error{
    color :red;
}